<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StackoverFlow|Post Question</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>
           
    </head>
<body>
    <header>
        <div class="container">

            <div class="header-section"> 
                    <h1>StackOverFlow Lite</h1>
            </div>

            <div class="middle-section">
                    <form action="">
                            Ask Question:<br>
                            <input type="text" name="post question"><br> 
                            <button>Post</button><br><br>
                            
                    </form><br><br>
                   
        </div>
</body>
    </header>
    <div class="footer-section">
            <p>&copy; 2018 StakcOverflow Lite</p>
    </div>
    
</html>